In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from tree import DecisionTree

In [2]:
df = pd.read_csv('titanic.csv')

In [4]:
df.drop('Name', axis=1, inplace=True)

In [5]:
train, test = train_test_split(df, train_size=.8, stratify=df['Survived'], random_state=13)
y_test = test['Survived'].copy()
test = test.drop('Survived', axis=1)
y_train = train['Survived'].copy()
train = train.drop('Survived', axis=1)
train['label'] = y_train

In [9]:
train.drop(['Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare'], axis=1).tail()

     Pclass     Sex   Age  label
334       1    male  29.0      0
254       3  female  29.0      1
398       3    male  39.0      1
429       2  female  42.0      1
865       3    male   4.0      1

In [136]:
tree = DecisionTree()

In [137]:
tree.fit(train.values)

In [138]:
tree_preds = tree.predict(test.values)

In [139]:
accuracy_score(y_test, tree_preds)

0.8033707865168539

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [141]:
encoder = LabelEncoder()
df['Sex'] = encoder.fit_transform(df['Sex'])

In [142]:
train, test = train_test_split(df, train_size=.8,stratify=df['Survived'], random_state=13)
y_test = test['Survived'].copy()
X_test = test.drop('Survived', axis=1)
y_train = train['Survived'].copy()
X_train = train.drop('Survived', axis=1)

In [145]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [146]:
model_preds = model.predict(X_test)
accuracy_score(y_test, model_preds)

0.7808988764044944

# Now to test with more categorical features

In [31]:
df = pd.read_csv('adult.data', names=['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'target'])
df = df.drop('fnlwgt', axis=1)

In [32]:
df.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,target
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [33]:
train, test = train_test_split(df, train_size=.8, stratify=df['target'], random_state=13)
y_test = test['target'].copy()
test = test.drop('target', axis=1)

In [34]:
tree = DecisionTree()
tree.fit(train.values)

In [36]:
y_preds = tree.predict(test.values)
accuracy_score(y_test, y_preds)

0.8183632734530938

In [27]:
encoder = LabelEncoder()
cat_cols = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'target']
for x in cat_cols:
    df[x] = encoder.fit_transform(df[x])

In [28]:
train, test = train_test_split(df, train_size=.8, stratify=df['target'], random_state=13)
y_train = train['target'].copy()
X_train = train.drop('target', axis=1)
y_test = test['target'].copy()
X_test = test.drop('target', axis=1)

In [29]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [30]:
y_preds = model.predict(X_test)
accuracy_score(y_test, y_preds)

0.8162137263933671